@model Ohjelmistoprojekti.Models.HenkilonOsaamiset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HenkilonOsaamiset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Osaamistaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osaamistaso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilot.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilot.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osaamisaiheet.Kuvaus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osaamisaiheet.Kuvaus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HenkilonOsaamisID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
